<section  class="min-vh-100 mTop divmart">
  <div
    class="d-flex justify-content-center align-items-center banner-image bmTop"
    style="
      background: url('../../../../assets/images/blogs/blog-detail-banner.jpg')
        no-repeat center;
      background-size: cover;
      height: 430px;
    "
  >
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h3 class="text-white text-uppercase">Blog Details</h3>
    </div>
  </div>

  <div class="mt-50 container">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img
        class="img-fluid"
        src="{{ blog.imgFile }}"
        alt=""
        style="margin-bottom: 2rem"
      />
      <div class="border" style="padding: 1rem">
        <div
          style="
            background: #418052;
            display: inline;
            width: fit-content;
            padding: 0.2rem 1rem 0.2rem 1rem;
          "
        >
          <small
            class="text-uppercase text-white"
            style="font-weight: 600 !important; font-size: 15px !important"
            >{{ blog.category }}</small
          >
        </div>
        <div>
          <div class="mt-15">
            <span
              class="text-capitalize"
              style="
                font-size: 1.5rem !important;
                font-weight: 700 !important;
                color: #418052 !important;
              "
              >{{ blog.title }}</span
            >
          </div>
          <p class="text-dark servicep">
            {{ blog.description }}
          </p>
          <div class="d-flex justify-content-start align-items-start mt-30">
            <small
              style="
                font-weight: 600 !important;
                font-size: 14px !important;
                color: #418052;
              "
            >
              <i class="fal fa-user"></i> By {{ blog.author }}</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
